.AboutPage-mainContainer {
  /* display: flex; */

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(5, 5, 5);
  /* justify-content: center;
    align-items: center; */
}

.Middle-Container {
  height: 80%;

  margin-left: 25%;
  margin-right: 25%;
  /* margin: 50px; */
  display: flex;
  /* flex-wrap: nowrap; */
}

.Left-Side {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: rgb(43, 43, 78);
  overflow: hidden;
}

.Right-Side {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: tomato;
  overflow: hidden;
}

.left-text {
  /* padding-left: 100px; */
  color: white;
  /* font-weight: bold; */
  font-size: 1rem;
}

.translatedContainer {
  min-height: 100%;
  width: 100%;
  transition: transform 0.5s;
}

.Left-translatedContainer {
}

.Right-translatedContainer {
}

.left-text-container {
  margin-top: 200px;
}
