.Carousel-mainContainer {
    height: 60%;
    width: 150%;

    /* z-index: 3;
  position: relative; */

    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s;
}

.Carousel-imageContainer {
    flex: 0 0 auto;
    width: 35%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* 
.Carousel-imageContainer:nth-of-type(odd){
    border: 1px solid red;
}
.Carousel-imageContainer:nth-of-type(even){
    border: 1px solid blue;
}   */

.Carousel-coverImg {
    width: 75%;
    height: auto;
    object-fit: cover;
}

/* @media screen and (max-width: 1200px) {
    .Carousel-coverImg {
        height: 70%;
    }
} */
