.Carousel-mainContainer {
  height: 60%;
  width: 150%;

  /* z-index: 3; */

  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s;
}

.Carousel-imageContainer {
  flex: 0 0 auto;
  width: 35%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* outline: 1px solid red; */
}

/* .Carousel-imageContainer:hover img {
  transform: scale(1.1, 1.1);
} */
/* 
.Carousel-imageContainer:nth-of-type(odd){
    border: 1px solid red;
}
.Carousel-imageContainer:nth-of-type(even){
    border: 1px solid blue;
}   */

.Carousel-imgTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  /* outline: 1px solid blue; */
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 80%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Disabling pointer events so can hover on carousel images */
  /* overflow: hidden; */
}

.Carousel-imgText {
  font-size: 2rem;
  /* transform: translateY(200%); */
  /* outline: 3px solid green; */
}

.Carousel-coverImgIsLoading {
  width: 85%;
  height: auto;
  transform: scaleY(0);
  object-fit: cover;
  transition: transform 1.5s;
}

.Carousel-coverImgLoaded {
  width: 85%;
  height: auto;
  object-fit: cover;
  transition: transform 1.05s;
}

.Carousel-coverImgLoaded:hover {
  transform: scale(1.1, 1.1);
}

/* @media screen and (max-width: 1200px) {
    .Carousel-coverImg {
        height: 70%;
    }
} */
