.Footer-mainContainer {
  flex: 1;
  width: 100vw;

  position: relative;

  z-index: 2;
}
.Footer-innerContainer {
  margin-left: 20%;
  margin-right: 20%;
  height: 99%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.square-i div {
  width: 5px;
  /* width: 0px;     StyleType-2    */
  height: 0px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
}

.square-i:hover > div {
  height: 12px;
  /* width: 5px;     StyleType-2    */
  transition: height 0.5s;
}

p {
  display: inline-block;
  margin-left: 5px; /* Temp fix */
}

.Footer-innerContainer .Social-links {
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.Footer-innerContainer .NameContact {
  display: flex;
  flex: 1;
  margin-bottom: 2.5%;
}
